<div id="<%= dialog_id %>" style="display:none; position:absolute; top:220px; left:50px;">
  <div style="position:absolute; background-color:black; opacity:0.5; color:white; -webkit-border-radius:5px; z-index:999; width:230px; height:80px; position:relative; top:-30px">
  </div>
  <div style="color:white; position:absolute; top:-15px; left:50px; z-index:1000;text-align:center;">
    <%= image_tag 'loadinfo.gif', :style => 'margin-bottom:10px' %><br />
    Generating Exams...
  </div>
</div>

