<h1>iKnow 3G!</h1>
<ul class="data">
  <li>
    <p>iKnow 3G! is a web application for iPhone to review your iKnow! items.<p>
    <p>The name `iKnow 3G!' means not iKnow third generation but iKnow for iPhone 3G. The reason why I did't name `iKnow! for iPhone' is just because I believe the Cerego Japan will kindly serve the official version of iKnow! for iPhone someday.</p>
    <p>Obviously this applicaiton is realized by utilizing the iKnow! API. Thanks Cerego staffs to release this cool API.</p>
  </li>
</ul>

<h1>About the author</h1>
<ul>
  <li><%= link_to 'Author', :action => 'about_author' %></li>
</ul>
