body {
  background-color: rgb(197,230,254);
}

div#header {
  background-color: #0189D8;
}

p.footer {
  margin-top: 40px;
}

#copyright {
  font: 14px Helvetica;
  font-weight: bold;
  color: rgb(76,86,108);
  text-shadow: white 0 1px 0;
}

li.selected {
  background-color: #bbeeff;
  background-color: yellow;
}

table.progress-bar {
  float: right;
}
table.progress-bar td {
  width: 5px;
  height: 3px;
}
table.progress-bar td.blank {background-color:#555555;}
table.progress-bar td.not-yet {background-color:#aaaaaa;}
table.progress-bar td.done {background-color:#ff0000;}

div.errors {
  color: red;
  background-color: white;
  border: 1px solid red;
  font: 12px Helvetica;
  text-align: center;
  text-shadow: white 0 1px 0;
  margin: 5px 10px 17px 0;
  padding: 3px;
  -webkit-border-radius: 5px;
}

a.special-button {
  margin-top: 15px;
}
